footer {
  background: #333;
  color: #999;
  padding: 20px 40px;
  text-align: center;
  margin-top: auto;
}

footer h1 {
  font-size: 1rem;
  color: #fff;
  margin-bottom: 5px;
}
footer p {
  font-size: 0.8rem;
  margin: 0;
}
