div.notificationAlert header {
  background-color: var(--col-accent) !important;
}

div.notificationConfirm header {
  background-color: var(--col-warning) !important;
}

div.notificationError header {
  background-color: var(--col-error) !important;
}

div.notificationAlert main p,
div.notificationConfirm main p,
div.notificationError main p {
  min-width: 200px;
  text-align: center;
  color: var(--col-text);
}
